@font-face {
    font-family: 'Futura Orlinski';
    src: url('../fonts/Futura.woff2') format('woff2'),
        url('../fonts/Futura.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Orlinski';
    src: url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Bitmap Orlinski';
    src: url('../fonts/04b03.woff2') format('woff2'),
        url('../fonts/04b03.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

