/* faq */


.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color:@gray-800;
  font-size: 1.15rem;
  font-weight: bold;
  border-bottom: 1px solid @gray-800;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: @gray-800;
}

.accordion a:hover::after {
  border: 1px solid @gray-800;
}

.accordion a.active {
  color: @primary;
  border-bottom: 1px solid @primary;
}

.accordion a::after {
  content: '+';
  font-weight:400;
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: @gray-800;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid @gray-800;
  text-align: center;
	display:flex;
	align-items:center;
	justify-content:center;
	padding-bottom:8px;
	top:0;
	bottom:0;
	margin:auto;
}

.accordion a.active::after {
  content: '-';
  color: @primary;
  border: 1px solid @primary;
	padding-bottom:5px;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid @gray-800;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

// home
body.home.page-template-home{
  .navbar-brand{
    display: none;
  }
  .topbar-right-menu{
    margin-left: auto;
  }
  .navbar {
    border-bottom:none !important;
  }
}
#hero-section{
  position:relative;
  top: -25px
}
#app{
  background-size:1000px;
  background-repeat:no-repeat;
  background-position: -150px center;
  background-attachment: fixed;
  background-color: black;
}

// forms
.acf-form-fields {
  width: 100%;

}
.acfe-form.acf-form .acf-field {
  padding:15px;
  border:none !important;
}
#contest-form-wrapper{
  #desc {
    opacity: .9;
  }
  h2{
    font-size:2.2rem;
  }
  #contest-form{
    input{
      background:rgba(0,0,0,.3);
      border:none !important;
      color: white;
      &::placeholder{
        color:rgba(255,255,255,.5);
      }
    }
    input:-internal-autofill-selected,input:-internal-autofill-selected{
      background:rgba(0,0,0,.5);
    }
  }
}
@media only screen and (max-width: 500px){

.sbi_item.sbi_type_image{
  svg.fa-play{
    transform: scale(.5) !important;
  }

}
}

.steps-wrapper {
  position:sticky;
  top:30px;
}
.step {
    position: relative;
}

.step:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 2px @gray-300;
}

.step:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background: @gray-300;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 3px white inset;
}
.step.active:after{
  background:@black;
}
.step.active:before{
   box-shadow: 0px 0px 0px 2px @black;

}
.step h6 {
    padding-left: 40px;
}

.step p {
    padding-left: 40px;
    position: relative;

}
.step p:before {content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: @gray-300;
  left: 10px;
  top: 0px;}
#desc{
  padding-left:40px;
}
.page-template-contest{
  .optional{
    display: none;
  }
    .woocommerce-privacy-policy-text {
    padding:0px .75rem;
  }
  .form-row {
    margin:10px 0px;
  }
}

#hero-section {
    position: relative;
    top: 0 !important;
}
.header-submit{
  background-color: transparent;
    width: 44px;
    height: 38px;
    background-size: 28px;
    border: 1px solid #ced4da;
    margin: 0;
  background-image: url(../img/orl_search.svg);
  display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

#images-and-title-and-button-slider{
  height: 650px;
  width: 100%;
}
.product-writing{
  writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    color: white;
}
.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail{
    width: 100%;
    height: auto;
}
.see-more-wrapper{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  height: 100%;
  background: #f4f4f4;
}

.see-more-wrapper:before {
    content: "";
    position: absolute;
    top: 9px;
    bottom: 9px;
    left: 0;
    right: 0;
    background-image: url('../img/kong-head.svg');
    opacity: .1;
    z-index: 1;
    background-position: -53px;
    background-size: 534px;
    background-repeat: no-repeat;
}
.see-more-wrapper h3{
  font-family: 'Bitmap Orlinski',sans-serif;
  text-align: center;
  font-size: 2rem;
}