html,body {
    min-height: 100%;
}

body {
    font-family: "Futura Orlinski",sans-serif;
    font-weight:400;
    font-size: 15px;
}
a:hover {
    text-decoration: none;
}


h1,h2,h3 {
    font-family: 'Futura Orlinski', serif;
    font-weight: 700;
 
}

h4,h5,h6{
    font-family: 'Futura Orlinski', serif;
    font-weight: 700;

}
.regular-font{
     font-family: "Roboto",sans-serif;
}
.fancy-font {
    font-family: 'Bitmap Orlinski',sans-serif;
}

h1 {
    font-size:2.8rem;
}
h2 {
    font-size:2.4rem;
}
.h3, h3 {
    font-size: 1.7rem;
}
@media only screen and (min-width: 1200px){
.container {
    max-width:1100px;
}
.big-container {
    max-width:1250px;
}
}
@media only screen and (min-width: 1400px){
.container {
    max-width:1300px;
}
.big-container {
    max-width:1450px;
}
}

.big-text{
    font-size:3.5rem;
}
.very-big-text{
    font-size:5rem;
}
.very-big-big-text{
    font-size:9rem;
}
.text-content {
    font-size:1.1rem;
}

.vh-70{
    min-height: 70vh;
}
.vh-90{
    min-height: 90vh;
}


.position-sticky {
    position:sticky;
    top:0;
}
.btn {
    font-weight: 300;
    text-transform: uppercase;
}

@media only screen and (min-width: 1400px){
    .btn-lg {
    padding :15px 50px;
      font-size:1.1rem;
}
}

.btn-lg {
    padding :12px 35px;
    font-size:1.1rem;
}


// icons
.header-menu {
    position:relative;
}
.navbar-light .navbar-nav .nav-link{
    color:@gray-800;
    font-size:1.1rem;
    text-align: left;
    text-transform: uppercase;
    margin: 8px 5px;

}
@media only screen and (max-width:998px){

.navbar-light .menu-item{
     border-bottom:1px solid @gray-200;
    &:last-child{
        border-bottom:none;
    }
}
}

.item-count,.xoo-wsc-items-count{
    position: absolute;
    background: @gray-900;
    top: 0;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    text-indent: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}
.xoo-wsc-items-count{
    left:auto !important;
}
.header-icon {
    display: inline-block;
    position:relative;
    height: 40px;
    width: 40px;
    margin: 3px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position:center;
    text-indent: -9999px;
    &.icon-my-account {
        background-image: url('@{images}/orl_user.svg');
    }
        &.icon-wishlist {
        background-image: url('@{images}/orl_heart.svg');
    }
        &.icon-search {
        background-image: url('@{images}/orl_search.svg');
    }
        &.icon-cart {
        background-image: url('@{images}/orl_cart.svg');
    }
         &.icon-logout {
        background-image: url('@{images}/logout.svg');
    }
     &.icon-menu {
        background-image: url('@{images}/menu.svg');
    }
        
}

a.add_to_wishlist.single_add_to_wishlist {
    text-indent: -9999px;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 10px;
     background-image: url('@{images}/orl_heart.svg');
     background-size:32px;
     background-repeat:no-repeat;
     background-position:center;
}
.yith-wcwl-wishlistaddedbrowse,.yith-wcwl-wishlistexistsbrowse{
    .feedback{
            text-indent: -9999px;
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 10px;
     background-image: url('@{images}/orl_heart-fill.svg');
     background-size:32px;
     background-repeat:no-repeat;
     background-position:center;
    }
}

.image-wrapper{
    overflow: hidden;
    img{
        .transition;
    }
    &:hover{
        img{
            transform:scale(1.03) rotate(-1deg);

        }
    }
 }
.border-radius-0{
    border-radius:0px !important;
}
.acf-spinner{
    position:absolute;
}
#wrapper-footer {
    .acf-notice.acf-error-message{
        display: none !important;
    }
    .acf-field  .acf-notice.acf-error-message{
        display: block !important;
        position: absolute;
    bottom: -50px;
    width: 100%;
    }
}
.video-muted {
    position: absolute;
    z-index: 123;
    right: 15px;
    bottom: 15px;
    width: 35px;
    height: 35px;
    background-image: url('@{images}/mute.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 24px;
    -webkit-appearance: none;
    opacity: .9;
}
.muted{
    background-image: url('@{images}/unmute.svg');
    background-position: center;
    -webkit-appearance: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 24px;
    opacity: .9;
}