// topbar
.marquee {
  height: 30px;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: @primary;
}

.marquee div {
  display: block;
  width: 200%;
  height: 20px;
  position: absolute;
  overflow: hidden;
  animation: marquee 30s linear infinite;
  background:url('@{images}/banner-new.svg');
  background-size: 430px;
  background-position: center;
}



@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}
 

// header
.navbar-brand{
  display: inline-block;
  width: 200px;
  height: 70px;
  text-indent: -9999px;
  background:url('@{images}/logoNew.svg');
  background-position: center;
  background-repeat:no-repeat;
  background-size:contain;
}

.submenu-content-wrapper {
    z-index: 999;


}
.search-form-big {
    height: 0px;
    overflow: hidden;
    opacity: 0;
     &.show{
    border-bottom:1px solid @gray-300;

  }
    .transition;
    &.show{
        height: auto;
        overflow: visible;
        opacity: 1;
    padding:15px;


    }
}
body.page-template-home {
  .search-form-big.show{
    border-top:1px solid @gray-300;
  }
}
.search-big-input {
    background:transparent;
    color:@gray-300;
    border: none;
    font-size: 1.3rem;
      &:active,&:focus {
        background:transparent;
        outline: none;
        border:none;
        box-shadow: none;
        color: @gray-500 ;
     }

}
.btn-search {
        display: inline-block;
    height: 40px;
    width: 40px;
    margin: 3px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position:center;
    text-indent: -9999px;
     background-image: url('@{images}/orl_search.svg');
     background-color: transparent;
     border:none;

}
.wpml-ls-sidebars-lang.wpml-ls.wpml-ls-legacy-list-horizontal{
  padding:0px 5px;
  margin:3px;
}
.wpml-ls-item-en a{
  background-image:url('@{images}/en-flag.svg');
  background-size:25px;
  background-repeat: no-repeat;
   background-position:center;
}
.wpml-ls-item-fr a{
  background-image:url('@{images}/fr-flag.svg');
  background-size:25px;
  background-repeat: no-repeat;
  background-position:center;
}
.wpml-ls-legacy-list-horizontal a{
  img{
    display: none !important;
  }
  padding:0px;
  width: 30px;
  height: 30px;

}

// footer

.footer-widget{
  ul{
    list-style-type:none;
    padding-left:0px;
    li{
      a{
      color: @gray-800;
      font-size: 1.05rem;
      .transition;
      &:hover{
        color: black;
      }
      }

    }
  }
}

#wrapper-footer .acfe-form.acf-form {
  display: flex;
  align-items:center;
  .acf-field{
    padding:0px;
    height: 100%;
  }
  .btn {
    font-size:.9rem;
  }
}

main.site-main {
  padding:30px 0;
}