@media only screen and (min-width:500px ) and (max-width: 992px){
#app{
	background-position: -300px center;
}
}
@media only screen and (min-width: 500px){
	#sb_instagram.sbi.sbi_col_4{
		display: none !important;
	}
	#sb_instagram.sbi.sbi_col_8{
		display: block !important;
	}
}
@media only screen and (max-width: 500px){
	div#timer-wrapper {
    transform: scale(.4);
    right: -100px;
    bottom: -100px;
}
div#sold-wrapper {
    transform: scale(.4);
    left: -100px;
    bottom: -100px;
}
	body.home.page-template-home .topbar-right-menu {
		margin-right: auto !important;
	}
	#sb_instagram.sbi.sbi_col_8{
		display: none !important;
	}
	#sb_instagram.sbi.sbi_col_4{
		display: block !important;
	}

	h1{
		font-size:2.6rem;
	}
	h2{
		font-size: 1.9rem;
	}
	h4{
		font-size:1.25rem
	}
	h5{
		font-size: 1.05rem;
	}
	#hero-section{
		top:0px;
	}
	#insta h2{
		font-size:1.5rem;
	}
	#app{
	 background-position: -50px center;
	 background-attachment:initial;
	 background-size:600px;
	}
	.app-text {
		font-size:.9rem;
	}
	.mini-cart-wrapper{
		width: 100%;
		padding: 20px;
	}
	.navbar-brand{
		width: 120px;
	}

	// faq
	.accordion a{
		font-size: .85rem;
	}
	.accordion .content p{
		font-size:.9rem;
	}

	// single prod
	.single.woocommerce div.product h1.product_title{
		font-size:2.7rem;
	}
	.woocommerce div.product p.price, .woocommerce div.product span.price{
		font-size: 1.8rem;
	}
	.wpgs-for.slick-slider{
		height: auto !important;
	}
	// contact
	.acf-form-fields .acf-field{
		width: 100% !important;
	}
	.add-to-cart-single button{
		font-size:.96rem;
	}
	.woocommerce table.shop_table{
		padding:0px;
	}
	.woocommerce form .form-row{
		width: 100%;
	}
	.wc_payment_method label{
		font-size: .96rem;
	}
	body.woocommerce-order-received .entry-title, .woocommerce-MyAccount-content .entry-title{
		font-size: 1.8rem;
		text-align: center !important;
	}
	.woocommerce ul.order_details li{
	width: 100%;
    float: none;
    display: block;
    font-size: .55rem;
    font-weight: 400;
    border-bottom: 1px dashed @gray-200;
    margin-bottom: 10px;
    border-right: none;
	}
	.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details, .thank-you-address{
		padding:20px 0px;
		
	}
	address{
			padding:10px 0px !important;
		}
		.woocommerce-ordering {
			width: 100%;
		}
}

@media only screen and (max-width: 380px){
	h1{
		font-size:2.5rem;
	}
	h2{
		font-size: 1.6rem;
	}
	h4{
		font-size:1.15rem
	}
	h5{
		font-size: 1rem;
	}
	#hero-section{
		top:10px;
	}
	#insta h2{
		font-size:1.4rem;
	}

}