// Files
@images: "../img";




// Colors


@gray-100:#F7F9FA;
@gray-200:#e9ecef;
@gray-300:#dee2e6;
@gray-400:#777;
@gray-500:#666;
@gray-600:#555;
@gray-700:#4f4f4f;
@gray-800:#282828;
@gray-900:#111;

@black:#000;

@primary:#ff0000;
@secondary:#000000;



