.about_paypal{
    display:none !important;
}
    .item-433,.item-434{
    display: none !important;
}
.woocommerce-Price-currencySymbol {
    font-family: sans-serif !important;
}
.woocommerce-breadcrumb {
    padding:20px 10px;
    display: none !important;
}
a.remove {
    background-image: url('@{images}/trash.svg');
	text-indent: -99999px;
    width: 16px !important;
    height: 16px !important;
    background-position: center;
    background-size: 15px;
    border-radius: 0 !important;
    background-repeat: no-repeat;
    opacity: .5;
    display: inline-block;
}

a.remove:hover {
    opacity: 1;
	background: none !important;
	    background-image: url('@{images}/trash.svg') !important;
	text-indent: -99999px;
    width: 16px !important;
    height: 16px !important;
    background-position: center;
    background-size: 15px !important;
    border-radius: 0 !important;
    background-repeat: no-repeat;
}

.woocommerce-message{
    border-top-color:@gray-800;
}
.woocommerce table.shop_table,.woocommerce-form.woocommerce-form-login,.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
    border-radius:0px;
    border:20px solid @gray-200;
    padding: 30px;
}

.form-row.form-group,.woocommerce-form-row{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 992px){

    form.checkout.woocommerce-checkout,.wpmc-nav-wrapper{
        width: 50%;
        margin: auto;
    }
}
.woocommerce .wpmc-nav-wrapper button.wpmc-nav-button.current{
        background:@gray-300;
    border-radius:0px;
    
}
#wpmc-back-to-cart{
    display: none;
}
.wpmc-nav-wrapper{
    justify-content: space-between;
}
#wpmc-next{
    margin-left: auto;
    background:@primary;
    &:focus,&:active{
        border-radius:0px !important;
    }
}
.woocommerce .wpmc-nav-wrapper button.wpmc-nav-button.current {
    display: inline-block !important;
    padding-top: 12px;
    &:focus,&:active{
        border-radius:0px !important;
        outline: none !important;
    }
}
// my acc
.woocommerce-account .woocommerce-MyAccount-navigation{
    border:1px solid @gray-200;
    padding:0px;
    ul{
        padding:0px;
        list-style-type: none;
        li{
            padding: 10px;
            border-bottom:1px solid @gray-200;
            &:last-child{
                border:none;
                padding-bottom:0px;
            }
            a{
                color: @gray-800;
            }
        }
    }
}

// single
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{
    width: 100% !important;
}


.wpgs-nav {
    .slick-arrow{
        display: none !important;
    }
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
    width: 100% !important;
}
.single.woocommerce div.product h1.product_title{
    font-size:3.6rem;
}
.woocommerce div.product p.price, .woocommerce div.product span.price{
    font-size:2.5rem;
    color: @primary;
}
.content-product{
    .woocommerce-loop-product__title{
        font-size:1.2rem;
        color: black;
        margin-top: 10px;
        text-transform: uppercase;
        min-height: 50px;
    }
    p.price, span.price{
    font-size:1.3rem !important;
    color: black !important;
    display: none !important;
}
}

.add-to-cart-single{
    display: flex;
    button {
        flex:1;
    }
   .qty{width:5rem !important;
    border:1px solid @gray-600;
    border-radius:0px;
    padding: 20px 0px;}
}

#product-details{
    background:@gray-900;
    th,td{
        color: white;
    }
}

.woocommerce-billing-fields__field-wrapper,.woocommerce-shipping-fields__field-wrapper{
    display: flex;
    flex-wrap: wrap;
}

#ship-to-different-address {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    span{
        font-size: 1.25rem;
        text-transform: uppercase;
    }
}

// stripe
label[for="payment_method_stripe"]{
    width: 90%;
}
.stripe-card-group {
    width: 100%;
}
#stripe-exp-element {
    width: 100%;
     padding: 10px;
}
#stripe-cvc-element {
    width: 100%;
     padding: 10px;
}
#stripe-card-element {
    padding: 10px;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{
    background:white;
    border-radius:0px;
    border:20px solid @gray-200;
    margin-bottom:20px;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box{
    background:white;
    padding:0px;
    &:before,&:after{
        display: none;
    }
}#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods{
    border-bottom:1px solid @gray-200;
}
.wc_payment_method label{
    font-size:1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.woocommerce-terms-and-conditions{
    background-size: @gray-100;
    box-shadow:none;
    border:1px solid @gray-200;
}
.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details,.thank-you-address{
    border:20px solid @gray-200;
    padding:20px;
}
.woocommerce .woocommerce-customer-details address{
    border:none;
}
body.woocommerce-order-received,.woocommerce-MyAccount-content{
    h2{
        font-size:1.5rem;
    }
    .entry-title{
        text-align: left !important;
        padding-left:10px;
    }
}

.woocommerce-info{
    border-top-color:@gray-700;

}
.woocommerce-info::before{
    color:@gray-700;
}

.mini-cart-wrapper {
    position: absolute;
    right: 0;
    background: white;
    z-index: 999;
    border: 1px solid @gray-200;
    border-top: 0;
    padding: 40px;
    box-shadow: 4px 5px 30px rgba(0, 0, 0, 0.05);
}

.woocommerce-mini-cart.cart_list.product_list_widget {
    list-style-type: none;
    padding:0px;
    img{
        width: 50px;
        height: 50px;
    }

}

.woocommerce-error, .woocommerce-info, .woocommerce-message{
    border:none !important;
    background:@gray-200;
}
.woocommerce-notices-wrapper #respond input#submit, .woocommerce-notices-wrapper a.button, .woocommerce-notices-wrapper button.button, .woocommerce-notices-wrapper input.button{
    background:transparent;
    border: 1px solid black;
    border-radius:0px !important;
    color: black;
    padding-top: 12px;
    &:hover{
        background:black;
        color: white;
    }
    display: none;
}

#wpmc-skip-login{
    background:@primary;
    margin-right: 0px;
    margin-left: auto;
    width:100%;
    text-transform: uppercase;
}
.wc-credit-card-form.wc-payment-form label{
    font-size:.8rem;
}
.woocommerce ul.order_details li{
    width:50%;
    margin:0px;
    padding:10px;
    border:none;
}
p#special-offer {
    margin: 0px;
    border: 2px solid @primary;
    width: 100%;
    font-family: 'Bitmap Orlinski',sans-serif;
    text-transform: uppercase;
    color: @primary;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    padding: 5px;
}
.wishlist-items-wrapper{
   td.product-name{
    font-size:1rem;
    a{
        color: black;
    }
    }
    span.woocommerce-Price-amount.amount{
        font-size:1rem;
    }
}
.wishlist_table{
    th {
    border-top: none !important;
}
th.product-name,th.product-price{
    font-size:.95rem;
}
}

