<?php extract( wpo_wcpdf_templates_get_footer_settings( $this, '5cm' ) ); // $footer_height & $page_bottom ?>
/* Load font */

@font-face {
	font-family: 'Futura Orlinski';
	font-style: normal;
	font-weight: normal;
	src:  url(<?php echo $this->get_template_path(); ?>/fonts/Futura.woff2) format('woff2');
}
@font-face {
	font-family: 'Futura Orlinski';
	font-style: normal;
	font-weight: bold;
	src:  url(<?php echo $this->get_template_path(); ?>/fonts/Futura-Bold.woff2) format('woff2');
}

/* Main Body */
@page {
	margin-top: 1cm;
	margin-bottom: 1cm;
	margin-left: 1cm;
	margin-right: 1cm;
}

body {
	background: #fff;
	color: #000;
	margin: 0cm;
	font-family: 'Futura';
	line-height: 1;
	font-weight: normal;
	font-size: 10pt;
}

h1,
h2,
h3,
h4 {
	font-size: 12pt;
	font-weight: normal;
	margin: 0;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li,
ul {
	margin-bottom: 0.75em;
}

p {
	margin: 0;
	padding: 0;
}

p + p {
	margin-top: 1.25em;
}

a { 
	border-bottom: 1px solid; 
	text-decoration: none; 
}

span.checkbox {
	display: inline-block;
	width: 3mm;
	height: 3mm;
	border: 1px solid black;
	background-color: white;
}

/* Basic Table Styling */
table {
	border-collapse: collapse;
	border-spacing: 0;
	page-break-inside: always;
}

th, td {
	vertical-align: top;
	text-align: left;
}

table.container {
	width:100%;
	border: 0;
}

tr.no-borders, td.no-borders {
	border: 0 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
	width: auto;
}

/* Header */
table.head {
	margin-bottom: 3mm;	
}

td.header img {
	max-height: 3cm;
	width: auto;
}

td.header {
	font-size: 16pt;
	font-weight: normal;
}

.header-stretcher {
	height: 3.5cm;
	display: block;
}

td.header, td.shop-info {
	padding-bottom: 3mm;
}

td.shop-info {
	width: 40%;
}

tr.underline td {
	border-bottom: 1px solid black;
}

.recipient-address {
	font-size: 12pt;
	color: #FF0000;
	padding-left: 1.5cm;
}
.document-type-label {
	color: #FF0000;
	text-transform: uppercase;
}

/* Recipient addressses & order data */
table.order-data-addresses {
	width: 100%;
	margin-bottom: 10mm;
}

table.order-data-addresses .address {
	font-size: 12pt;
	color: #FF0000;
}

table.order-data-addresses .address:first-child {
	padding-left: 10mm;
}

td.order-data {
	width: 40%;
}

td.order-data table th {
	font-weight: normal;
	padding-right: 2mm;
}

/* Order details */
table.order-details {
	width: 100%;
}

table.order-details tr:last-child {
	padding-bottom: 5cm; /* clearing for the footer! (more precisely, the totals) */
}
/* + no need to do that for packing slips */
.packing-slip table.order-details tr:last-child {
	padding-bottom: 0;
}

.order-details tr {
	page-break-inside: always;
	page-break-after: auto;	
}

.order-details td,
.order-details th {
	padding: 0.375em;
}

.order-details th {
	color: #000;
	font-weight: normal;
	text-align: left;
	border-bottom: 1px solid black;
}

.order-details .cb {
	width: 3.5mm;
}

.order-details .thumbnail,
.order-details .quantity,
.order-details .weight {
	width: 8%;
}
.order-details .sku,
.order-details .price,
.order-details .regular_price,
.order-details .vat,
.order-details .discount,
.order-details .tax_rate,
.order-details .total {
	width: 10%; 
}

.order-details .position {
	width: 5%;
}

td.thumbnail img {
	width: 13mm !important;
	height: auto !important;
}

/* item meta formatting for WC2.6 and older */
dl {
	margin: 4px 0;
}

dt, dd, dd p {
	display: inline;
	font-size: 7pt;
}

dd {
	margin-left: 5px;
}

dd:after {
	content: "\A";
	white-space: pre;
}
/* item-meta formatting for WC3.0+ */
.wc-item-meta {
	margin: 4px 0;
	font-size: 7pt;
}
.wc-item-meta p {
	display: inline;
}
.wc-item-meta li {
	margin: 0;
	margin-left: 5px;
}

/* product bundles compatibility */
.order-details tr.bundled-item td.description {
	padding-left: 5mm;
}
.order-details tr.bundled-item.hidden {
	display: none;
}

/* Totals */
table.totals {
	width: 100%;
	margin-bottom: 5mm;
}

table.totals th,
table.totals td {
	border: 0;
	padding: 6px;
}
table.totals th {
	text-align: left;
	font-weight: normal;
}

table.totals td {
	text-align: right;
}

table.totals .grand-total td,
table.totals .grand-total th {
	background-color: #FF0000;
	color: white;
}

/* Notes */
.notes.customer-notes {
	padding-top: 8mm;
	width: 66%;
}

/* Footer */
.cut-off {
	width:100%;
	height:<?php echo $footer_height; ?>;
}

.foot {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/*height: <?php echo $footer_height; ?>;*/
	text-align: center;
	/*margin-bottom: 0; */
	margin-top: 0;
}

table.footer {
	top: -5cm;
	/*There's a bug that misplaces borders if used. To fix this, use:*/
	/*border-collapse: separate;*/
}

table.footer td.footer-column-1,
table.footer td.footer-column-2,
table.footer td.footer-column-3 {
	width: 33%;
}

table.footer td.bluebox {
	background-color: #FF0000;
}

.bluebox {
	text-transform: uppercase;
	color: white;
	font-weight: normal;
	padding: 2mm;
	vertical-align: top;
}

.shipping-method-label, .payment-method-label {
	display: inline-block;
	min-width: 4cm;
	padding-right: 2mm;
}

.shipping-method, .payment-method {
	display: inline-block;
}

/* page numbers */
.pagenum:before {
	content: counter(page);
}
.pagenum,.pagecount {
	font-family: sans-serif;
}